@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';

.container{
	max-width: 1080px;
	min-width: 320px;
}
#main_box{
	margin-top: 50px;
	padding: 0;
}
#how_to_block{
	min-width: 300px;
	max-width: 400px;
	min-height: 330px;
	margin:auto;
	margin-top: 50px;
	padding:10px;
	border:3px dashed orange;
}
#how_to_block h3{
	color:red;
}
#how_to_block p{
	color:green;
}
#calculator{
	margin:auto;
	border-bottom:3px solid #333;
    border-radius: 15px;
    background: #585858;
	box-shadow: inset -3px -3px 20px 0px #333;
	max-width: 450px;
	min-width: 300px;
	padding: 10px;
}
#display_result{
	margin:10px 10px 20px;
    background: #cfe0ce;
	border: 3px solid #849884;
    border-radius: 10px;
	overflow: hidden;
}
#display_result_inline{
	min-height:50px;
	width: 95%;
	margin: 3px auto;
	padding:7px;
	text-align: right;
	font-family: Roboto;
	font-weight: 300;
	font-size:18px;
    line-height: 30px;
}

.key{
    background: #ededed;
	width:55px;
	height:50px;
	margin:0;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	margin-bottom: 10px;
	font-family: Roboto;
	font-weight: 300;
	font-size:22px;
	padding: 10px;
	color:#111;
	font-weight: bold;
    border-radius: 5px;
	box-shadow: inset -2px -2px 10px 2px #ccc;
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    cursor: default;
}
#undo, #erase {
    background: #f28629;
    box-shadow: inset -2px -2px 10px 2px #bc681f; 
    color: #222;
}
.active {
    box-shadow: inset 2px 2px 15px 1px #aaa;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
}
h1,h2,h3,h4,h5,h6,p{
	font-family: Roboto;
	font-weight: 300;
}
img{
	width:40px;
	height:40px;
	margin-left: 5px;
	margin-right: 5px;
}
#links{
	max-width: 400px;
	margin: auto;
	text-align: center;
}